.login-container {
  display: flex;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #F4F5F7;

  .login-image-container {
    display: none;
    position: relative;
    
    @media (min-width: 768px) {
      display: flex;
      width: 50%;
    }

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .logo-container {
      position: absolute;
      top: 1.5rem;
      left: 1rem;
    }
  }

  .form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: 50%;
    }


    .form-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.1rem;
    }

    .form-subtitle {
      margin-bottom: 0.5rem;
    }

    form {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .custom-input {
        &:focus {
          border-color: #FFE14D;
        }
      }

      .custom-label{
        margin-bottom: 0.25rem;
        font-weight: 500;
      }

      .submit-button {
        margin-top: 1rem;
        background-color: black;
        height: 42px;

        &:hover{
          background-color: #333;
        }
      }
    }
  }
}