.login-container {
  display: flex;
  min-height: 100vh;

  .login-image-container {
    display: none;
    position: relative;
    padding: 0.5rem;
    
    @media (min-width: 768px) {
      display: flex;
      width: 50%;
    }

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
    }

    .background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .logo-container {
      position: absolute;
      top: 1rem;
      left: 1rem;

      .mtn-logo {
        width: 4rem;
        height: auto;
      }
    }
  }

  .form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    @media (min-width: 768px) {
      width: 50%;
      padding: 0.5rem;
    }
    
    .form-paper {
      width: 100%;
      max-width: 28rem;
      padding: 2rem;
      border-radius: 8px;
    }

    .form-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .form-subtitle {
      color: var(--mantine-color-gray-7);
      margin-bottom: 1.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .custom-input {
        &:focus {
          border-color: #FFE14D;
        }
      }

      .custom-label{
        margin-bottom: 0.25rem;
        font-weight: 500;
      }

      .submit-button {
        margin-top: 1rem;
        background-color: black;
        border-radius: 20px;
        height: 42px;

        &:hover{
          background-color: #333;
        }
      }
    }
  }
}